<!DOCTYPE html>
<html>
<head>
    <title>🎮 Guess Master</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="home">

<div class="overlay">

    <h1> Guess Master</h1>
    <p class="subtitle">Choose Your Game</p>
    <br>
    </br>
    <div class="menu">
        <a href="/game/movie" class="card-btn movie-btn">🎬 Movie Guess</a>
        <a href="/game/cricket" class="card-btn cricket-btn">🏏 Cricket Guess</a>
    </div>
    <div class="author">
    👤 Rajesh Kumar
    </div>

</div>

</body>
</html>